<h1 class="heading">Login to Student Snapshot</h1>
<div class="login-container">
  <form [formGroup]="_userForm" (ngSubmit)="_login()">
    <div class="user-group">
      <label for="username">Username</label>
      <input
        id="username"
        type="email"
        aria-describedby="username-help"
        [ngClass]="{
          'ng-invalid':
          _userForm.get('user')?.touched && !_userForm.get('user')?.valid
        }"
        pInputText
        formControlName="user"
      />
      <small
        *ngIf="_userForm.get('user')?.touched && !_userForm.get('user')?.valid"
        id="username-help"
        class="p-error"
        >Username is invalid.</small
      >
    </div>

    <div class="password-group">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        aria-describedby="password-help"
        [ngClass]="{
          'ng-invalid':
          _userForm.get('password')?.touched &&
            !_userForm.get('password')?.valid
        }"
        pInputText
        formControlName="password"
      />
      <small
        *ngIf="
        _userForm.get('password')?.touched && !_userForm.get('password')?.valid
        "
        id="password-help"
        class="p-error"
        >Password is invalid.</small
      >
    </div>

    <div class="button-container">
      <p-button
        class="submit"
        type="submit"
        [disabled]="!_userForm.valid"
        [label]="_isLoginMode ? 'Login' : 'Sign Up'"
      ></p-button>
      <p-button
        type="button"
        [label]="'Switch to ' + (_isLoginMode ? 'Sign Up' : 'Login')"
        (onClick)="_onSwitchMode()"
      ></p-button>
    </div>
  </form>
</div>
